In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('startup_data.csv')
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [3]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [4]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [5]:
#Convert the column into categorical columns

states=pd.get_dummies(X['State'],drop_first=True)

NameError: name 'X' is not defined

In [ ]:
states.head()

In [ ]:
# Drop the state coulmn
X=X.drop('State',axis=1)

# concat the dummy variables
X=pd.concat([X,states],axis=1)

In [ ]:
X.head()

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [ ]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

In [ ]:
import seaborn as sns
plt.plot(y_test,y_pred)
sns.distplot(y_test-y_pred)
sns.jointplot(x ="y_test",y = "y_pred",data = df,kind = "reg")

In [16]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [17]:
score

0.9347068473282423